/* @import "tachyons"; */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.site-header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

.trainer-section {
  transform: skewY(-12deg);
  transform-origin: 0;
}

.person-content h3 {
  transform: skewY(12deg);
}

.person-bio {
  transform: skewY(12deg);
}

.trainer-audrey>* {
  background-color: #5533ff;
}

.trainer-avross>* {
  background-color: #484eff;
}

.trainer-shu>* {
  background-color: #2f80ff;
}

.trainer-fang>* {
  background-color: #288eff;
}



@media screen and (min-width: 60em) {
  .trainer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
  }

  .trainer-audrey>* {
    grid-row: 1;
  }

  .trainer-avross>* {
    grid-row: 2;
  }

  .trainer-shu>* {
    grid-row: 3;
  }

  .trainer-fang>* {
    grid-row: 4;
  }


}

@media screen and (min-width: 65em) {
  .trainer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1px;
    grid-row-gap: 1px;

  
  }
  .trainer-item {
    grid-column: 1/4;
    display: contents;
  }

  .trainer-item:nth-child(odd) figure {
    grid-column: 3;
  }
  
  .trainer-item:nth-child(odd) .person-content {
    grid-column: 1/3;
  }
  
  .trainer-item:nth-child(even) figure {
    grid-column: 1;
  }
  
  .trainer-item:nth-child(even) .person-content {
    grid-column: 2/4;
  }
    
  .trainer-fang .person-content {
    padding-bottom: 4em;
  }
  
  
  .event {
    display: grid;
    grid-template-rows: repeat(5, 14vw) 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 2vw;
  }
  
  .event-day1 {
    grid-template-columns: repeat(5, 14vw) 600px;
  }
  
  .event-day1 .event-header {
    grid-row: 1;
    grid-column: 1/4;
  }
  
  .event-day1 .event-about {
    grid-row: 2;
    grid-column: 5/7;
  }
  
  .event-day1 .event-overview {
    grid-row: 2;
    grid-column: 2/4;
  }
  
  .event-day2 {
    grid-template-columns: 600px repeat(5, 14vw);
  }
  
  .event-day2 .event-header {
    grid-row: 1;
    grid-column: 3/6;
  }
  
  .event-day2 .event-about {
    grid-row: 2;
    grid-column: 1/2;
  }
  
  .event-day2 .event-overview {
    grid-row: 2;
    grid-column: 3/5;

  }
}

.event-day1 .event-header {
  background-color: #53f;
}

.event-day2 .event-header {
  background-color:#2693ff;
}
